@{
    ViewData["Title"] = "Home Page";
}

<!-- Debut du contenu-->
<div class="row">

            <div class="OutOfNav col-xs-12 col-md-8 ContenerSection">
                <h1 class="ColorTextBlue" id="IndexTitle">GONDET</h1>
                <h2 class="offset-md-3 ColorTextBlue" id="IndexTitle2"> LOIC</h2>
                <h2 class="offset-md-1 ColorTextGrey" id="Currently">BTS SIO option SLAM</h2>
                <div class="OutOfNav offset-md-2 col-xs-12 col-sm-12 col-md-7" id="ResumIndexContener1">
                    <h3 class="ColorTextBlue">Présentation</h3>
                    <div id="PresentationContener">
                        <p>
                            Actuellement étudiant dans le développement logiciel dans le lyçée Notre Dame de La Providence à Avranches, je suis actuellement en BTS SIO (Services Informatique aux Organisations) option SLAM (Solutions Logicielles et Applications Métiers).
                            <br>Je vis actuellement sur Lyon et travail dans la société <a href="https://www.prepeers.co/">Prepeers</a>.
                        </p>
                    </div>
                    <div class="col-12" id="LinContener">
                        <a class="col-xs-12 col-sm-12 col-md-5" id="CVButton" type="button" href="Pages/Profil">
                            <div class="ButtonStyle" id="ProfilButton">
                                <svg class="ImgButtonStyle bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd" />
                                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd" />
                                </svg>
                            </div>
                        </a>
                        <a class="col-xs-12 col-sm-12 col-md-5" id="CVButton" type="button" href="DOC/JobPDF/CVLoicGONDET.pdf" download>
                            <div class="ButtonStyle">
                                <svg class="ImgButtonStyle bi bi-file-earmark-arrow-down " width="1em" height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z" />
                                    <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z" />
                                    <path fill-rule="evenodd" d="M5.646 9.146a.5.5 0 01.708 0L8 10.793l1.646-1.647a.5.5 0 01.708.708l-2 2a.5.5 0 01-.708 0l-2-2a.5.5 0 010-.708z" clip-rule="evenodd" />
                                    <path fill-rule="evenodd" d="M8 6a.5.5 0 01.5.5v4a.5.5 0 01-1 0v-4A.5.5 0 018 6z" clip-rule="evenodd" />
                                </svg>
                                <p class="TextButtonStyle"><a href="~/Files/Cv-Gondet-Loic.pdf">Curriculum Vitae</a></p>
                            </div>
                        </a>
                        <a target="_blank">
                            <img id="LinkedinLink" type="button" src="~/images/Logo-LinkedIn.png" onclick="window.location.href='https://www.linkedin.com/in/lo%C3%AFc-gondet-36b76b194/>Linkdin'"></img>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Photo de la page-->
            <div class="col-xs-6 col-md-4" id="imageIndex">
                <img class="" id="Picture1" src="~/images/CatCup.png">
                </img>
            </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
